
/bin
/obj
/packages
/.vs
/_config.yml
/Source/.vs
/Source/bin
/Source/obj
/Source/Fonts
/Source/FrameServer/.vs
/Source/FrameServer/FrameServer.vcxproj.user
/Source/FrameServer/Win32
/Source/FrameServer/x64
/Source/packages
/Source/StaxRip.vbproj.user
/Source/Tools/AutoCrop/.vs
/Source/Tools/AutoCrop/obj
/Source/VideoData
/StaxRip.sln.DotSettings.user
